.box {
    background-color: rgb(255, 255, 255);
    padding: 0.5em;
    box-shadow: 0px 1px 2px var(--shadow);
    transition: box-shadow 0.05s ease-in-out;
    max-width: 800px;
    margin-top: 1px;
}

.stick {
    position: sticky;
    top: 5px;
}

.interact {
    box-shadow: 0px 1px 2px var(--shadow);
    transition: box-shadow 0.2s ease-out;
}

.interact:hover {
    box-shadow: 0px 2px 5px var(--shadow) !important;
    cursor: pointer;
}

.button {
    display: inline-flex;
    justify-content: center;
    border-radius: 500px;
    padding: 7px 14px;
    width: 30px;

}

.add {
    background-color: var(--green);
}

.loading {
    -webkit-animation: loading 0.5s ease infinite;
    -moz-animation: loading 0.5s ease infinite;
    animation: loading 0.5s ease infinite;
}

@keyframes loading {
    0%{
        background-color: var(--background);
    }
    100%{
        background-color: var(--load);
    }
}