{% extends 'boards/base.html' %}
{% block title %}
    tegami » {{ object.board.name }} » {{ object.message }}
{% endblock title %}
{% block body %}
    <div class="thread-listing">
        <div class="meta">
            <span class="posted_by">{{ object.posted_by|default:"Anonymous" }}</span>
            <span class="posted_on">{{ object.posted_at }}</span>
        </div>
        <div class="message">
        {% if object.attachements.count %}
            <div class="attachements">
                <ul>
                {% for attachement in object.attachements.all %}
                    <li><a href="{{ attachement.upload.url }}">{{ attachement.upload.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        {{ object.message }}
        </div>
    </div>
    <hr>
    {% for reply in replies %}
        <div class="reply-listing">
            <div class="meta">
                <span class="posted_by">{{ reply.posted_by|default:"Anonymous" }}</span>
                <span class="posted_on">{{ reply.posted_at }}</span>
            </div>
            <div class="message">
                {% if reply.attachements.count %}
                <div class="attachements">
                    <ul>
                    {% for attachement in reply.attachements.all %}
                        <li><a href="{{ attachement.upload.url }}">{{ attachement.upload.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {{ reply.message }}
            </div>
        </div>
        <hr>
    {% endfor %}
    <div class="reply-form">
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ reply_form }}
            <input type="submit" value="Send">
        </form>
    </div>
{% endblock body %}